---
---

@charset "utf-8";

$background-color: #1d1f21!default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
    p,
    li,
    dl {
      font-size: 0.8em;
    }
}

.author__avatar {
 
  img {
    max-width: 200px;
    border-radius: 10%;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}
